# Author:       Casey Sparks
# Date:         August 22, 2024
# Description:  Ensures that commit titles adhere to the Conventional Commit syntax.
# Ref:          See https://www.conventionalcommits.org/en/v1.0.0/
---
name: "Conventional Commits"
on:
  pull_request:
    branches: ["main"]
jobs:
  check_commit_names:
    name: "Conventional Commits"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
    steps:
      - name: "git checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"  # v6.0.2

      - name: "Check conventional commit compliance"
        uses: "webiny/action-conventional-commits@54c7d1f80e5f26de9ab24968e1c6f3273210f95b"  # NOTAG
        with:
          GITHUB_TOKEN: "${{ github.token }}"
