# Author:       Casey Sparks
# Date:         August 22, 2024
# Description:  Ensures that commit titles adhere to the Conventional Commit syntax.
# Ref:          See https://www.conventionalcommits.org/en/v1.0.0/
---
name: "Conventional Commits"
on:
  pull_request:
    branches: ["main"]
jobs:
  check_commit_names:
    name: "Conventional Commits"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
    steps:
      - name: "git checkout"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8"  # v6.0.1

      - name: "Check conventional commit compliance"
        uses: "webiny/action-conventional-commits@b34f00be3f9b4cb0a64eec37b96bcacd5c8a2166"  # NOTAG
        with:
          GITHUB_TOKEN: "${{ github.token }}"
