# Author:       Casey Sparks
# Date:         November 15, 2023
# Description:  Lint Python files with Ruff.
---
name: "Validate Python code"
on:
  pull_request:
    branches: ["main"]
    paths:
      - "**/*.py"
      - ".github/workflows/python.yml"
jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8"  # v6.0.1
        with:
          fetch-depth: 0

      - name: "Check all Python code"
        uses: "astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1"  # v3.5.1
        with:
          args: "check ."
